<% include partials/layout.ejs %>





	<ul>


		<div class="row">

			<form class="form col-md-4" method="POST" action="http://localhost:5000/editStudent/<%=data._id%>">
				<fieldset>
					<input type="hidden" name="id" value="<%=data._id%>" />
					<p class="h5 text-center mb-4"></p>
					<div class="md-form">
						<i class="fa fa-user prefix grey-text"></i>
						<input type="text" id="form3" value="<%=data.firstname%>" name="firstname" value="<%=data.firstname%>" class="form-control" required>
						<label for="name">first name</label>
					</div>

					<div class="md-form">
						<i class="fa fa-envelope prefix grey-text"></i>
						<input type="text" id="form2" name="lastname" value="<%=data.lastname%>" class="form-control" required>
						<label for="lastname">lastname</label>
					</div>
					<div class="md-form">
						<i class="fa fa-phone prefix grey-text"></i>
						<input type="date" id="form2" name="dob" value="<%=data.dob%>" class="form-control" required>
						<label for="dob"></label>
					</div>

					<div class="md-form">
						<i class="fa fa-phone prefix grey-text"></i>
						<input type="text" id="form2" name="address" value="<%=data.address%>" class="form-control" required="">
						<label for="address">Address</label>
					</div>

					<div class="md-form">
						<i class="fa fa-phone prefix grey-text"></i>
						<input type="text" id="form2" value="<%=data.sex%>" name="sex" class="form-control" required>
						<label for="sex">Sex</label>
					</div>

					<div class="md-form">
						<i class="fa fa-phone prefix grey-text"></i>
						<input type="text" id="form2" value="<%=data.class%>" name="class" class="form-control" required>
						<label for="class">class</label>
					</div>

					<div class="text-center">
						<button class="btn btn-light-green" type="submit" value="Submit">Update
							<i class="fa fa-paper-plane-o ml-1"></i>
						</button>
					</div>
				</fieldset>

			</form>


	</ul>



	<% include partials/footer.ejs %>